body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}

header {
    background: #F9FAFB;
    color: #2563EB;
    text-align: center;
    padding: 20px;
}
section {
    padding: 80px 40px;
    max-width: 800px;
    margin: auto;
}

h2 {
    font-size: 32px;
    padding: 0px 20px;
    color: antiquewhite;
    background: #333;
}

nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}
nav li {
    margin: 0 15px;
}
nav a {
    text-decoration: none;
    color: #333;
}
nav a:hover{
    color: #2563EB;
}

.card{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 40px rgba(0,0,0,0.15);
    transition: 0.3s;
}
.card:hover{
    transform : translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);

}
.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #2563EB;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    transition: 0.3s;
}

.btn:hover {
    background: #1d4ed8;
}

.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}
.profile img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-text {
    max-width: 500px;

}
.profile-text p::first-letter{
    color: #2563EB;
    font-size: 42px;
    font-weight: bold;
    float:left;
    margin-right: 9px;
}
.skills ul{
    margin: 0;
    padding-left: 20px;
}


@media(max-width:600px){
    .profile{
        flex-direction: column;
        text-align: center;
    }
}
